*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  

}
:root{
    --color-primary:black;
    --color-secondary:rgb(144, 153, 238);
    --color-white:white;
    --color-grey0:rgb(211, 211, 211);
    --color-grey1:rgb(182, 182, 182);
    --color-grey2:rgb(126, 126, 126);
    --color-grey3:rgb(80, 80, 80);
    --color-grey4:rgb(66, 66, 66);
    --br-sm-2m-2: 14px;
    --box-shadow1: 0 3px 15px rgba(0, 0, 0, .3);

}

body{
    font-family: 'Poppins', sans-serif;
    background-color:var(--color-primary);
    font-size: 1.1rem;
    transition:all .4s ease-in-out;

}

a{
    display:inline-block;
    text-decoration:  none;
    color: inherit;
    font-family:inherit;
}

header{
    height:100vh;
    color: --color-white;
    overflow:hidden;

}

section{
    min-height:100vh;
    width:100%;
    position: absolute;
    left:0;
    top: 0;
    padding: 3rem 18rem;
 
}
.section{
    transform: translateY(-100%) scale(0);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}
.sec1{
    display: none;
    transform: translateY(0)scale(1);
}
.sec2{
    display: none;
    transform: translateY(0)scale(1);
}
.sec3{
    display: none;
    transform: translateY(0)scale(1);
}
.sec4{
    display: none;
    transform: translateY(0)scale(1);
}
.sec5{
    display: none;
    transform: translateY(0)scale(1);
}
.sec6{
    display: none;
    transform: translateY(0)scale(1);
}

.controls{
    position: fixed;
    z-index:10;
    top: 50%;
    right: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .active-btn{
        background-color: var(--color-secondary)!important;
        transition:all .4 ease-in-out;
        i{
            color:var(--color-white) !important;
        }

    }
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color:var(--color-grey3);
        width: 55px;
        height: 55px;
        border-radius: 50%; 
        display: flex;
        justify-content: center;
        align-items:center;
        margin: .5rem 0;
        box-shadow: var(--box-shadow1);
        i{
            font-size:1.2rem;
            color: var(--color-white);
            pointer-events:none;
        }
    }
}   